body {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
  min-width: 99vw;
  border: 1px solid rgb(72, 255, 0);
  margin: 0;
}

header {
  border: 1px solid rgb(228, 118, 7);
}

.logos {
  display: flex;
  justify-content: space-between;
  height: 145px;
  border: 1px solid rgb(206, 17, 17);
  align-items: center;
}

.logoImagen {
  margin-left: 1%;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  border: 1px solid rgb(211, 11, 11);
}

.logoNombre {
  border: 1px solid rgb(199, 22, 22);
  width: 448px;
  height: 83px;
  margin-right: 0.5%;
}

.barra {
  background-color: #98b9bb;
  border: 1px solid black;
  max-height: 60px;
  padding: 10px;
}

.nav {
  border: 1px solid rgb(223, 12, 12);
  display: flex;
  justify-content: space-evenly;
  min-height: 35px;
}
nav a {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  min-height: 12px;
  border-radius: 24px;
  padding-left: 8px;
  padding-right: 8px;
  border: 3px solid #fad2c6;
  text-align: center;
  color: white;
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a:hover {
  border: 3px solid #fad2c6;
  text-align: center;
  color: #98b9bb;
  background-color: white;
  transition: 0.6s;
}

main {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  /* padding: 3%; */
}

footer {
  background-color: #fad2c6;
  border: 1px solid black;
  height: 165px;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.iconosPie {
  color: #98b9bb;
  font-size: 100;
}

.info {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #98b9bb;
  font-weight: 300;
  margin-top: 0.4%;
  text-decoration: none;
}
.info a {
  text-decoration: none;
  color: #98b9bb;
}

.info p {
  font-weight: 600;
}

.formulario {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  border: 3px solid #fad2c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5%;
  width: 50%;
  background-color: #98b9bb;
  border-radius: 10px;
  margin: 3%;
}

.formulario input {
  width: 80%;
  line-height: 100%;
  min-height: 24px;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border: 3px solid #fad2c6;
  font-family: "Raleway", sans-serif;
}

.formulario label {
  color: #fad2c6;
  font-weight: 600;
}

.formulario textarea {
  min-width: 80%;
  min-height: 100px;
  border-radius: 10px;
  padding: 8px;
  font-family: "Raleway", sans-serif;
  border: 3px solid #fad2c6;
}

.formulario button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  min-width: 40%;
  min-height: 24px;
  border-radius: 10px;
  border: 3px solid #fad2c6;
  color: #98b9bb;
}

.formulario button:hover {
  border: 3px solid #fad2c6;
  color: #98b9bb;
  background-color: #fad2c6;
  transition: 0.6s;
}
